<a class="skip-nav visuallyhidden focusable" href="#content">Skip navigation</a>    

<nav class="nav">
  <ul>
    <li class="home"><a href="/"><span aria-hidden="true">CC</span><span class="visuallyhidden">Home</span></a></li>
    <li><a href="/resume">Resume</a></li>
    <li><a href="/work">Work</a></li>
    <li><a href="/colophon">Colophon</a></li>
  </ul>
</nav>
