<!doctype html>
<html class="no-js" lang="en">

  {% include "src/templates/head.njk" %}

  <body>

    <div class="outer-wrap">
      <div class="content-wrap">

        {% include "src/templates/nav.njk" %}

        <article class="primary" id="content">

          <div class="panel work">
              <div class="panel__content">


                <h1 class="headline">{{ file.frontMatter.headline | safe }}</h1>

                {{ contents | safe }}


            </div>
          </div>
        </article>

      </div>{# /.content-wrap #}

      {% include "src/templates/footer.njk" %}

    </div>{# /.outer-wrap #}

    {% include "src/templates/foot.njk" %}

  </body>
</html>
