.resume {

  .panel__content {
    max-width: 1000px;
  }

  @include media(tablet-portrait-up) {
    padding: 4rem;
  }

  h4 {
    color: $highlight;
    margin-bottom: 0;
  }

  h5 {
    color: $gray-70;
    font-weight: normal;
    margin: 0;
    @include fluid-type($min-width, $max-width, 14px, 20px);
  }

  p,
  li {
    margin-bottom: 1em;
    @include fluid-type($min-width, $max-width, 14px, 22px);
  }

  ul,
  ol {
    padding-left: 0;
  }

  .headline {
    margin-bottom: 0;
    text-align: center;
  }

  &__head {
    text-align: center;
    font-weight: bold;

    a {
      color: $highlight;
      text-decoration: none;
      &:hover {
        color: $linked;
      }
    }
  }
}
